:root {
  --pic-s: 200px;
}

.p-link {
  text-decoration: none;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 2rem;
  cursor: pointer;
  box-shadow: 2px 1px 2px 1px #c4cad0;
  border-radius: 8px;
  font-family: "Inconsolata";
  -webkit-transition: all 0.12s ease-out;
  animation: slide-Y 0.5s ease-in 0s 1 forwards;
  color: #e0e2db;
}

.project:hover {
  transform: scale(1.057);
  background-color: #0c6291;
  transition: all 0.2s ease-in-out;
}

.pic-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.p-pic {
  width: var(--pic-s);
  height: var(--pic-s);
  border-radius: 20px 8px 20px 20px;
  transform: scale(1.12);
  transition: all 0.4s ease-out;
}

.p-pic:hover {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.slideframe {
  width: 200px;
  padding: 4px;
  overflow-x: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.p-title {
  text-decoration: none;
}

.animate {
  animation: slide-X 10s linear 0s infinite forwards;
}

@keyframes slide-X {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-500%);
  }
}

@keyframes slide-Y {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1080px) {
  .project {
    padding: 1rem;
    align-items: start;
  }
}

@media screen and (max-width: 545px) {
  .project {
    padding: 8px;
  }
  .p-title {
    font-size: 1.2rem;
  }
  .p-pic {
    width: 150px;
    height: 150px;
  }

  .slideframe {
    width: 150px;
  }
}
